@model stpwomenssoccer2.Models.EventModel

@{ 
    ViewBag.Title = "TeamList";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="col-sm-6 col-sm-offset-3 bg-primary form-horizontal" style="margin-bottom:120px;margin-top:25px;">
    <h2>Create Event / Game</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EventId)

    @*<div class="form-group">
        @Html.LabelFor(model => model.EventTypeId, htmlAttributes: new { @class = "control-label col-sm-3" })
        <div class="col-sm-8">
            @Html.EditorFor(model => model.EventTypeId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EventTypeId, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.EventTypeId, htmlAttributes: new { @class = "control-label col-sm-3" })
        <div class="col-sm-8">
            @Html.DropDownList("EventTypeId", null, "Select the type of the event", new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.EventTypeName)*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-sm-3" })
        <div class="col-sm-8">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-sm-3" })
        <div class="col-sm-8">
            @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EventName, htmlAttributes: new { @class = "control-label col-sm-3" })
        <div class="col-sm-8">
            @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-sm-3" })
        <div class="col-sm-8">
            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-sm-3" })
        <div class="col-sm-8">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.TeamId, htmlAttributes: new { @class = "control-label col-sm-3" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.TeamId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TeamId, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.TeamId, htmlAttributes: new { @class = "control-label col-sm-3" })
        <div class="col-sm-8">
            @Html.DropDownList("TeamId", null, "Select a Team", new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.TeamName)*@
        </div>
    </div>

    <div class="form-group text-center">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" style="font-weight:bold; background-color:#FFD700; color:#191970; margin-bottom:20px" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
