@model IEnumerable<stpwomenssoccer2.Models.UpcomingEvent>

<div class="container"></div>

<div class="row text-primary col-sm-offset-1">

    <div class="bg-primary col-sm-4" style="margin-bottom:100px">
        <div class="text-center text-secondary">
            <h4 style="font-weight:bold;">@ViewBag.clockTitle</h4>
            <br />
        </div>
        <div class="text-center">
            <div class="clock"></div>
        </div>

        <hr />
        <div class="text-center text-secondary">
            <h4 style="font-weight:bold;">Upcoming Events</h4>
            @if (User.IsInRole("Administrator"))
            {
            <button class="btn" style="font-weight:bold; background-color:#FFD700; color:#191970">@Html.ActionLink("Update Events", "EventCards")</button>
            }
        </div>
        <div class="list-group">

            @foreach (var item in Model)
            {
                <div class="list-group-item list-group-item-action flex-column active">
                    <h5>@Html.DisplayFor(modelItem => item.CardTitle)</h5>
                    <small>@Html.DisplayFor(modelItem => item.CardDate)</small>
                </div>
            }

            <hr />
            <div class="text-center text-secondary">
                <h4 style="font-weight:bold;">Facebook</h4>
            </div>
            <div id="fb-root"></div>
            <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=222173411478083&autoLogAppEvents=1';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-page" data-href="https://www.facebook.com/Stony-Point-High-School-Womens-Soccer-Boosters-1750041001917321/" data-tabs="timeline" data-width="323" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Stony-Point-High-School-Womens-Soccer-Boosters-1750041001917321/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Stony-Point-High-School-Womens-Soccer-Boosters-1750041001917321/">Stony Point High School Women&#039;s Soccer Boosters</a></blockquote></div>

            <hr />
            <div class="text-center text-secondary">
                <h4 style="font-weight:bold;">Instagram</h4>
            </div>
            <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/Bm6a_EbHkhP/?utm_source=ig_embed" data-instgrm-version="9" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/Bm6a_EbHkhP/?utm_source=ig_embed" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Come join us at Hat Creek in Round Rock by the Dell Diamond for our Stony Point Women&#39;s Soccer Booster Club Spirit Night!</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by <a href="https://www.instagram.com/stpwomenssoccer/?utm_source=ig_embed" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank"> STP Women&#39;s Soccer</a> (@@stpwomenssoccer) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-08-25T19:00:59+00:00">Aug 25, 2018 at 12:00pm PDT</time></p></div></blockquote>
            <script async defer src="//www.instagram.com/embed.js"></script>
            <script async defer src="//www.instagram.com/embed.js"></script>
            <script async defer src="//www.instagram.com/embed.js"></script>
            <script async defer src="//www.instagram.com/embed.js"></script>
            <script async defer src="//www.instagram.com/embed.js"></script>
            <script async defer src="//www.instagram.com/embed.js"></script>
            <script async defer src="https://www.instagram.com/embed.js"></script>
            <hr />
            <div class="text-center text-secondary">
                <h4 style="font-weight:bold;">Twitter</h4>
            </div>
            <a class="twitter-timeline" data-width="323" data-height="500" data-theme="dark" href="https://twitter.com/sTpWomenSoccer?ref_src=twsrc%5Etfw">Tweets by sTpWomenSoccer</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

    </div>


    <div class="col-sm-6" style="margin-top:-15px">
        <div class="text-center bg-primary">
            <h2 style="font-weight:800">STONY POINT HIGH SCHOOL</h2>
            <h2 style="font-weight:800; margin-top:-15px;">WOMEN'S SOCCER</h2>
            <h2 style="font-weight:800; margin-top:-15px;">BOOSTER CLUB</h2>
            <br />
            <h4 style="margin-left:25px; margin-right:25px">The Booster Club is a volunteer organization comprised of Stony Point parents and volunteers, who help maintain excellence for the Stony Point Women's Soccer program through financial support and event sponsorship. The financial support supplements the budget to provide the best equipment and training for our student-athletes. This money is obtained through Booster Club membership, event concession stands sales and fundraisers.</h4>
            <br />
        </div>

        <div id="img-carousel" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#img-carousel" data-slide-to="0" class="active"></li>
                @*<li data-target="#img-carousel" data-slide-to="1"></li>*@
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="https://smile.amazon.com/ch/81-0786917" target="_blank"><img class="d-block img-fluid" src="~/images/amazon_smile.jpg" alt="Amazon Smile"></a>
                </div>
                <div class="item">
                    <img class="d-block img-fluid w-100" src="~/images/hat_creek.jpg" alt="Board Meeting">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#img-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#img-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

</div>


@section scripts {
    <script type="text/javascript">
        var clock;

        $(document).ready(function () {

            // Grab the current date
            var currentDate = new Date();

            // Set some date in the future. In this case, it's always Jan 1
            //var futureDate = new Date("Aug 16, 2018 09:05:00");
            var futureDate = new Date("@ViewBag.clockDate");

            // Calculate the difference in seconds between the future and current date
            var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

            if (diff < 0) {
                diff = 0;
            }

            // Instantiate a coutdown FlipClock
            clock = $('.clock').FlipClock(diff, {
                clockFace: 'DailyCounter',
                countdown: true

            });
        });

        //Modal
        var url = window.location.href;
        if (url.includes("email=True")) {
            $('#myModal').modal({ show: true });
        };

        //Modal
        var url = window.location.href;
        if (url.includes("sms=True")) {
            $('#myModal2').modal({ show: true });
        };

        //Modal
        var url = window.location.href;
        if (url.includes("Subscribe2")) {
            $('#myModal3').modal({ show: true });
        };

    </script>
}